.header {
  height: 60px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.header>div {
  padding: 12px;
  box-sizing: border-box;
}

.header__logo {
  height: 60px;
  float: left;
  width: 80%;
}

.header__logo>img {
  height: 100%;
  object-fit: contain;
}

.header__logo>span {
  color: gray;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: 10px;
  left: 16px;
  display: inline-block;
}

.MuiSvgIcon-root {
  color: rgb(82, 82, 82);
}

.header__login {
  height: 60px;
  float: left;
  text-align: right;
  width: 20%;
}

.header__login .MuiSvgIcon-root {
  font-size: 28px;
  color: rgb(82, 82, 82);
  margin: 4px;
}

.header__login>span {
  margin-right: 20px;
}


.header__login>img {
  border-radius: 50%;
  height: 100%;
  object-fit: contain;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid rgb(91, 91, 167);
}